#drop-area{
  border: 2px dashed;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  padding: 20px;
}


#file-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#fileinput {
  margin-right: 10px;
}

#upload{
  text-align: center;
  margin:10px auto;
}